extends layout

block content
	form(name="login", action="posts/createDummyPost", method="post")
		input(type="text", name='test_param' value="Make Random Post")
		input(type="submit", value="Make Random Post")