extends layout

block content
	h1= title
	p Welcome to #{title}


	p= taggedWords

	<h1>wasaa</h1>

	form(name="login", action="/createDummyPost", method="post")
		input(type="text", name='test_param' value="Make Random Post")
		input(type="submit", value="Make Random Post")