extends layout

block content
	form(name="insertLocation", action="/locations/create", method="post")
		input(type="text", name='name')
		input#locx(type="hidden", name='locx')
		input#locy(type="hidden", name='locy')

		input(type="submit", value="Insert Location")

	#map-canvas

	script(src="/js/googlemap.js")
