extends layout

block content
    .row
        form(name="insertLocation", action="/locations/create", method="post")
            .col-md-1
            .col-md-10
                .form-group
                    | Name:&nbsp;
                    input(type="text", name='name')
                    input#locx(type="hidden", name='locx')
                    input#locy(type="hidden", name='locy')
                .form-group
                    #map-canvas
                .form-group
                    input(type="submit", value="Insert Location")


        script(src="/js/googlemap.js")
