doctype html
html
  head
    title= title
    link(rel="stylesheet",href="/css/theme.min.css")
    link(rel="stylesheet",href="/css/style.css")
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed',rel='stylesheet',type='text/css')
    script(src="/js/bootstrap.min.js")
  body
    main(class="container")
      header(class="row")
        div(class="col-md-1")
          img(class="logo",src="/content/logo.png")
        div(class="col-md-11")
          div(class="row")
            header(class="col-md-12")
              div(class="site-title")
                | Sol 
                span(style="color:#FFC6C7;")
                  | v
                | o
              div(class="site-lead-line")
                | Never do anything by yourself again.
              div(class="login-bar")
                div(class="login-bar-content")
                  | In as
                  a(href="#")
                    | &nbsp;Jeremy
                img(class="artifact-01",src="/content/artifact-01.png")
                h1(class="page-title")
                  | Page Title | 
                  a(target="_modal",href="#add-task")
                    | (my tasks)
                  a(target="_modal",href="#add-friend")
                    |  (add friend)
                  a(target="_modal",href="#add-location")
                    |  (add location)
                hr(class="short")
                p(class="intro-text")
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut diam nec dui facilisis consectetur id consectetur mi. Sed id consectetur nunc. In suscipit viverra augue vel hendrerit. Sed a turpis consectetur, facilisis ex vel, tempor odio. Nam fermentum purus quam, in lobortis felis ullamcorper sit amet. Nam pulvinar, turpis in eleifend vulputate, eros tellus vehicula turpis, vel aliquet ex ante ac turpis.
                hr(class="short")
              nav(class="menu")
                a(href="#")
                  | Friends
                a(href="#")
                  | Tasks
                a(href="#")
                  | Discover
            div(class="col-md-12")
      block content