doctype html
html
  head
    title= title
    link(rel="stylesheet",href="/css/theme.min.css")
    link(rel="stylesheet",href="/css/style.css")
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do',rel='stylesheet',type='text/css')
    script(type="text/javascript",src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHGpzUbuMA_LU4jrOikW_EEhIyXpVA2ZU")
    script(src="/js/jquery.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/home.js")
  body
    main(class="container")
      header(class="row")
        div(class="col-md-1")
          img(class="logo",src="/content/logo.png")
        div(class="col-md-11")
          div(class="row")
            header(class="col-md-12")
              div(class="site-title")
                | Sol
                span(style="color:#FFC6C7;")
                  | v
                | o
              div(class="site-lead-line")
                | Never do anything by yourself again.
              div(class="login-bar")
                div(class="login-bar-content")
                  | In as
                  a(href="#")
                  | &nbsp;#{username}
                img(class="artifact-01",src="/content/artifact-01.png")
                h1(class="page-title")
                  | #{pageTitle} |
                  a(target="_modal",href="/")
                    | My Tasks
                  a(target="_modal",href="/contacts")
                    |  Add Friend
                  a(target="_modal",href="/locations")
                    |  Add Location
                hr(class="short")
                p(class="intro-text")
                  | If you spend too much time thinking about a thing, you'll never get it done.  Let us do it for you.
                hr(class="short")
              nav(class="menu")
                a(href="#")
                  | Friends
                a(href="#")
                  | Tasks
                a(href="#")
                  | Discover
            div(class="col-md-12")
      block content
